--- file: productversion.mk
PRODUCTVERSION
--- file: main/odk/util/makefile.pmk
PRODUCT_RELEASE
--- file: srcrelease.xml
aoo.ver
--- file: minor.mk
RSCVERSION
RSCREVISION=416m1(Build:9790)
BUILD=9790
LAST_MINOR=m1
SOURCEVERSION=AOO416
--- file: openoffice.lst
OOOPACKAGEVERSION
UREPACKAGEVERSION
PRODUCTVERSION
ABOUTBOXPRODUCTVERSION
BASEPRODUCTVERSION
PACKAGEVERSION
UPDATEURL
